.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
/* --------------------- navbar ---------------------- */
.navbar-brand img {
    max-height: 110px;
}
.navbar-default {
    background-color: #9f75ad;
    min-height: 100px;
}
#navbar a{
    color: white;
    font-size: larger;
    font-family: monospace;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    padding-left: 40px;
    padding-right: 40px;
    top: 10px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d1004a;
}
.navbar-default .navbar-toggle {
    border-color: #d1004a;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #d1004a;
}
.navbar ul.nav > li > a:hover {
border-top: transparent;
}
/* --------------------- buttons ---------------------- */
.btn-secondary{
    border-color: #9f75ad;
    background-color: #9f75ad;
    color: white;
    text-transform: none;
}
.btn-secondary:hover{
    border-color: #9f75ad;
    background-color: white;
    color: #9f75ad;
}
.btn:focus-visible, .btn-secondary:focus-visible, .btn-secondary:active, .btn:active{
    border-color: #9f75ad;
    background-color: #9f75ad;
    color: white;
}
/* --------------------- Carousel ---------------------- */
.home-carousel {
    background-image: url(/images/background-1.png);
    background-size: cover;
}
.home-carousel .dark-mask {
    background: transparent;
}
.carousel-text {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.carousel-text h1 {
    font-size: 80px;
    color: #9f75ad;
    font-family: "Sofia", sans-serif;
    text-transform: initial;
    font-weight: lighter;
}
#home a {
    margin-bottom: 5%;
    font-size: x-large;
}
.opacitywhite {
    background-color: rgb(255 255 255 / 77%);
    border-radius: 35px;
}
.aboutimage {
    background-image: url(/images/accesorios.png);
    background-size: contain;
    margin: 0;
    padding-bottom: 5%;
}
/* --------------------- About ---------------------- */
#about h1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    font-family: "Sofia", sans-serif;
    font-size: xxx-large;
}
#about h5 {
    text-align: center;
    color: white;
    font-size: x-large;
    padding-top: 25px;
    font-family: monospace;
}
#about h6 {
    padding: 2% 2% 5% 2%;
    font-family: monospace;
    font-weight: 350;
    color: white;
    font-size: medium;
}
.opacityviolet {
    background-color: #9f75ad;
    border-radius: 35px;
    border: 15px double white;
    min-height: 240px;
}
/* --------------------- Contact ---------------------- */
.contactimage {
    background-image: url(/images/background-2.png);
    background-size: cover;
    padding: 5% 0% 5% 5%;
    background-position: top;
}
.contactimage a{
    color: #d1004a;
    text-decoration: none;
    font-weight: 800;
}
.contactimage h2{
    font-size: 2.50em;
    font-family: monospace;
}
.contactimage h5{
    font-size: 1.4em;
    font-family: monospace;
}
#contact {
    margin:0;
}
.svg-vector{
    text-align: center;
}
.svg-vector img{
    max-width: 100px;
}
/* --------------------- Footer ---------------------- */
footer{
    background-color: #d1004a;
    text-align: center;
}
footer p {
    color: white;
    text-align: center;
    padding-top: 15%;
    font-family: monospace;
}
footer img {
    width: 80%;
}
@media (max-width: 992px) {
   .carousel-text h1 {font-size: 60px;} 
   .contactimage{
    padding: 15% 0% 10% 7%;
    background-position-x: center;}
}
@media (max-width: 767px){
    .navbar-brand img{max-height: 70px;}
    .svg-vector img{
        padding-bottom: 10px;
    }
}

/* ------------ Video Carousel ---------- */

.carousel {
    padding: .3em .3em 0;
    background: rgb(240,240,240);
    text-align: center;
  }
  .carousel div {
    position: relative;
    margin-bottom: .3em;
    padding-top: 56.25%;
  }
  .carousel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .carousel span {
    display: inline-block;
    word-spacing: 1em;  
    overflow: auto;
    white-space: nowrap;
    word-wrap: normal;
  
  }
  .carousel a {
    position: relative;
    display: inline-block;
    max-width: 120px;  
    width: 25%; 
    border: 1px solid blue;  
    opacity: .7;  
    text-decoration: none;
  }
  .carousel a:visited,
  .carousel a:nth-of-type(1) {
    border-color: #555; 
  }
  .carousel a:hover { 
    opacity: 1;
  }
  .carousel a:not(:active):focus {
    pointer-events: none;
  }
  .carousel a::before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    background: rgba(0,0,1,.1);
    transition: background 0s 9999999s;
  }
  .carousel a:nth-of-type(1)::before {
    background: rgba(255,255,254,.7);
  }
  .carousel span:active a::before {
    background: rgba(0,0,0,0);
    transition: background 0s;
  }
  .carousel span:active a:active::before {
    background: rgba(255,255,255,.7);
    transition: background 0s;
  }
  .carousel img {
    max-width: 100%;
    vertical-align: middle;  
  }
  