@charset "UTF-8";
.img-logo {
    max-width: 120% !important;
    max-height: 50%;
    position: relative;
    z-index: 999;
}
#banner {
    background-color: CB6CE6;
    height: 150px;
}
#navbar {
    color: white;
    top: 15%;
    justify-content: space-around;
    font-size: larger;
    font-family: monospace;
}

.btn-secondary{
    border-color: CB6CE6;
    background-color: CB6CE6;
}
.btn-secondary:hover{
    border-color: CB6CE6;
    background-color: white;
    color: CB6CE6;
}
.btn:focus-visible, .btn-secondary:focus-visible, .btn-secondary:active, .btn:active{
    border-color: CB6CE6;
    background-color: CB6CE6;
    color: white;
}
#withcenteredimage {
    background-image: url(../img/background-1.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    display: table;
    text-align: center;
}
#inicio h1 {
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: "Sofia", sans-serif;
    font-size: 80px;
    color: #CD6CE6;
}

#inicio a {
    margin-bottom: 5%;
    font-size: x-large;
}
.opacitywhite {
    background-color: rgb(255 255 255 / 77%);
    border-radius: 35px;
}
#greybackground {
    background-color: gray;
}
#greybackground h1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}
#greybackground h5 {
    text-align: center;
    color: white;
}
#greybackground h6 {
    padding: 2% 2% 5% 2%;
    font-family: monospace;
    font-weight: 350;
    color: white;
}
#contactimage {
    background-image: url(../img/background-2.png);
    background-size: cover;
    padding: 10% 0% 10% 15%;
}
#contactimage a{
    color: CB6CE6;
    text-decoration: none;
    font-weight: 500;
}
footer{
    background-color: ff3131;
}
footer h6 {
    color: white;
    text-align: center;
    padding-top: 15%;
}
footer img {
    width: 80%;
}
@media (max-width:991.98px) {
    .img-logo{max-height: 70%}

}
